.first{
    height: 600px;
    width: 600px;
    background-color:#808080;
    
}
.second{
    height: 500px;
    width: 500px;
    background-color: #808080;
    margin:50px 50px 50px 50px;

}
.contact{
    height: 100px;
    width: 300px;
    margin-left:100px;
    border-radius: 20px;
    background-color: #696969;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-top:10px;
    
}
#tel{
    width: 300px;
    height: 50px;
    margin-top:30px;
    margin-left: 100px;
    border-radius: 30px ;
    background-color: #696969;
}
#name{
    width: 300px;
    height: 50px;
    margin-top:30px;
    margin-left: 100px;
    border-radius: 30px;
    
    background-color: #696969;
}
#cel{
    width: 300px;
    height: 50px;
    margin-top:30px;
    margin-left: 100px;
    border-radius: 30px;
    background-color:#1E90FF;
    color:#FFFFFF;
    font-size: 15px;
}
input::placeholder{
    font-size: 20px;
    text-align: center;
}
.contact p{
    color:#FFFFFF;
}